<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="lelikone-sample.ZPM">
    <Module>
      <Name>lelikone-sample</Name>
      <Version>1.0.6</Version>
      <Description>Basic InterSystems IRIS Development Template</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="lelikone.sample.PKG"/>
      <UnitTest Name="/tests" Package="lelikone.sample.unittests" Phase="test"/>

    </Module>
  </Document>
</Export>